.information__wrapper {
    width: 100%;
}

.info__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.info__wrapper {
    margin: 20px 0 0;
}

.info__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    min-height: 220px;
    height: 100%;
    border: 1px solid #8740b3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    margin-right: 20px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .info__container {
        margin: 0;
        padding: 0 20px;
    }

    .info__wrapper {
        width: 100%;
    }

    .info__block {
        margin: 0;
    }
}

.info__block_top {
    align-items: center;
    text-align: center;
    min-height: 48px;
}

.info__block_middle {
    align-items: center;
    text-align: center;
    min-height: 48px;
}

.info__block_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 48px;
}