.info__container {
    width: 100%;
    margin-bottom: 15px;
}

.title {
    font-size: 20px;
    margin-bottom: 15px;
}

.description__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    margin-right: 15px;
    font-size: 12px;
}

.remove__btn {
    padding: 3px 15px;
    border: 1px solid darkgrey;
    border-radius: 2px;
    outline: none;
    background-color: #1c78db;
    color: white;
    font-size: 12px;
}
