.wrapper {
    width: 100%;
}

.info__container {
    max-width: 1000px;
    text-align: center;
}

.rect {
    fill-opacity: .3;
    fill: tomato;
    stroke: tomato;
    stroke-width: 2;
}

.info__item {
    margin: 0 80px;
}
