*:focus {
    outline: none;
}
.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid darkgrey;
    border-radius: 2px;
    padding: 5px 15px;
}

.btn {
    width: 10px;
    height: 10px;
}

.info__container {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    padding: 10px;
}

.title__container {
    display: flex;
    justify-content: space-between;
}

.city__container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    color: red;
}

.title {
    font-size: 20px;
    margin-bottom: 15px;
}

.description {
    margin-right: 15px;
    font-size: 12px;
}

.remove-btn {
    margin-right: 0.5rem;
}

.itemEnter {
    opacity: 0;
}
.itemEnterActive {
    opacity: 1;
    background: red;
    transition-duration: 3s;
}
.itemExit {
    opacity: 1;
}
.itemExitActive {
    opacity: 0;
    background: red;
    transition-duration: 3s;
}

