.article__container {
    display: flex;
    justify-content: center;
    background: white;
    height: 100%;
}

.article__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 700px;
    padding: 0 28px;
}

.carousel .slide img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    vertical-align: top;
}

.article__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0 0 ;
    text-align: left;
}

.publishedAt__container {
    font-size: 16px;
    color: #49494a;
}

.author__block {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #49494a;
    margin-top: 15px;
}

.title__block span {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 650px;
    text-overflow: ellipsis;
}

.title__block {
    font-size: 35px;
    font-weight: bold;
    margin-top: 15px;
}

.description__block {
    margin-top: 15px;
    font-size: 22px;
}

.description__block span {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 650px;
    text-overflow: ellipsis;
}

.url__block {
    margin-top: 15px;
    font-size: 16px;
    color: #49494a;
}

.url__block span a {
    text-decoration: none;
    font-size: 12px;
    color: #49494a;
}

.url__block span {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 650px;
    text-overflow: ellipsis;
}

.article__img_container {
    width: 650px;
    height: 450px;
    border: 1px solid black;
}
.img_container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__img {
    max-width: 100%;
    height: auto;
}

.img_container img {
    flex-shrink: 0;
    height: 100%;
    width: auto;
}

.control-dots {
    background: white;
}

.text {
    color: black;
}
