.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 900px;
    height: 500px;
    border: 1px solid black;
}

.item {
    flex: 1;
    background-color: crimson;
    margin-right: 10px;
}

.item:last-child {
    margin-right: 0;
}