.btn__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    width: 100%;
    padding: 5px 0;
    margin: 15px 0 15px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    outline: none;
    color: white;
    background-color: #ff6347;
}

.btn:hover {
    background-color: #ee482a;
}