.form__container {
    max-width: 500px;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 5px 0;
    margin: 15px 0 15px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    outline: none;
    color: white;
    background-color: #5347ff;
}

.btn:hover {
    background-color: #4d43ea;
    cursor: pointer;
}

.btn_save {
    width: 100%;
    padding: 5px 0;
    margin: 15px 0 15px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    outline: none;
    color: white;
}

.btn_save__no_error {
    background-color: forestgreen;
}

.btn_save__no_error:hover {
    background-color: green;
    cursor: pointer;
}

.btn_save__error {
    background-color: dimgray;
}
