.form__container {
    max-width: 500px;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    outline: 0;
    outline-offset: 0;
    padding-inline-end: 80px;
}

.textarea {
    width: 100%;
    outline: 0;
    outline-offset: 0;
    padding-inline-end: 80px;
}

.btn {
    width: 100%;
    padding: 5px 0;
    margin: 15px 0 15px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    outline: none;
    color: white;
    background-color: #5347ff;
}

.btn__error {
    width: 100%;
    padding: 5px 0;
    margin: 15px 0 15px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    outline: none;
    color: white;
    background-color: red;
}

.btn:hover {
    background-color: #4d43ea;
    cursor: pointer;
}

.btn__save {
    background-color: forestgreen;
}

.btn__save:hover {
    background-color: green;
    cursor: pointer;
}

.btn__error[disabled] {
    background-color: dimgray;
    cursor: pointer;
}

.error {
    width: 100%;
    outline: 0;
    outline-offset: 0;
    border: 1px solid red;
    padding-inline-end: 80px;
}
