.article__container {
    display: flex;
    justify-content: center;
    height: 100%;
    background: aliceblue;
}

.article__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 100px;
    width: 700px;
}

.author__block {
    margin-bottom: 25px;
}

.title__block {
    margin-bottom: 25px;
}

.description__block {
    margin-bottom: 25px;
    text-align: left;
}

.url__block {
    margin-bottom: 25px;
}

.url__block a {
    text-decoration: none;
}

.article__imgWrapper {
    width: 500px;
    margin: 0 auto;
}

.article__img {
    max-width: 100%;
    height: auto;
}

.text {
    color: black;
}