.wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 20px 0;
    flex-direction: column;
    align-items: center;
}

.btn__container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 5px 0;
    margin-top: 15px;
    min-width: 210px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    outline: none;
    color: white;
    background-color: #ff6347;
}

.btn:hover {
    background-color: #ee482a;
}

.btn__save {
    background-color: #07a052;
}

.btn__save:hover {
    background-color: #088344;
}

.input__container {
    margin-top: 25px;
}

.input {
    outline: 0;
    outline-offset: 0;
}

.textarea__container {
    margin-top: 25px;
}

.textarea {
    outline: 0;
    outline-offset: 0;}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place__container {
    margin-top: 15px;
}

.country {
    font-size: 36px;
}

.city {
    margin-top: 5px;
    font-size: 28px;
}

.info__container {
    margin-top: 15px;
    width: 100%;
}

.description__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove__btn {
    padding: 3px 15px;
    border: 1px solid darkgrey;
    border-radius: 2px;
    outline: none;
    background-color: #1c78db;
    color: white;
    font-size: 12px;
}

.title {
    font-size: 20px;
}

.description {
    margin-right: 15px;
    font-size: 12px;
}